/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif;
 */
 /* * {
    margin: 0;
    padding: 0;
 } */

:root{
    --primary-bg-color:  #FFFFFF;
    --secondary-bg-color: #F4F4FD;
    --title-text-color: #2E2F42; 
    --main-text-color: #434455;
    --primary-brand-color:  #4D5AE5;
    --accent-color: #404BBF;
    --secondary-accent-color:#E7E9FC; 
    --svg-bg-color: #AFB1B8;
    --light-slate-color: #8E8F99;
    --bg-link-footer-color: #31D0AA;
    --footer-link-color: rgba(255, 255, 255, 0.1);
    --backdrop-bg-color: rgba(46, 47, 66, 0.4);
    --modal-bg-color: #FCFCFC;
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --modal-input-color: rgba(33, 33, 33, 0.2);
    --white-30-color: rgba(255, 255, 255, 0.3);
    --white-60-color: rgba(255, 255, 255, 0.6);
    --body-font-size: 16px;
    --title-font-size: 36px; 
}
body {
    font-family: 'Roboto','Raleway',sans-serif;
    color: var(--main-text-color);
    background-color: var(--primary-bg-color);
}
h1, 
h2,
h3,
h4,
h5, 
h6,
p {
    margin: 0;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* HEADER max-width 1440x */



/* Задаємо базову ширину адаптивного контейнера */
/* .container.adaptive {
    max-width: 320px;
} */
@media screen and (min-width: 600px) {
    .container.adaptive {
        max-width: 600px;
    }
}
@media screen and (min-width: 900px) {
    .container.adaptive {
        max-width: 900px;
    }
}
@media screen and (min-width: 1140px) {
    .container.adaptive {
        max-width: 1140px;
    }
}
.container {
    padding: 0 16px;
    margin: 0 auto;
    max-width: 428px;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}
.button {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
        border-color: transparent;
}
.header {
    border-bottom: 1px solid #E7E9FC; 
}
.page-header {
    padding: 24px 0;
    border-bottom: 1px solid var(--secondary-accent-color);
    margin: auto;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
    .page-header {
        padding: 0;
    }
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 768px) {
    .nav-header {
        display: flex;
        align-items: center;
        /* margin-left: 76px; */
    }
}
.nav-list .item.active {
    position: relative;
    color: var(--accent-color);

}
/* .active {
    position: relative;
    color: var(--primary-brand-color);
} */
.active::after {
    display: block;
    position: absolute;
    content: " ";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -4px;
    background-color: var(--primary-brand-color);
}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    color: var(--primary-brand-color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    /* margin-right: 76px; */
}
/* @media screen and (min-width: 768px) {
    .logo {
        margin-right: 0;
    }
} */
@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
}
.logo-header {
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.nav-header,
.nav-list, 
.address-header,
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-list .item {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: inherit;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
 }
.link {
    text-decoration: none;
 }
.nav-list .item:hover,
.nav-list .item:focus {
    color: var(--accent-color); 
}
@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
}
.nav-item:first-child {
    margin-left: 0px;
} 
@media screen and (min-width: 1158px) {
    .nav-item {
        margin-right: 40px;
    }
    .nav-item:last-child {
        margin-right: 0;
    }
}
/* .address-header {
    margin-left: auto;
} */
.address-item:first-child {
    margin-left: 0;
}
@media screen and (min-width: 1158px) {
    .address-header {
        margin-left: auto;
    }
}
@media screen and (min-width: 768px) {
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.04em;
    }
}
@media screen and (min-width: 1158px) {
    .address-list {
        flex-direction: row;
        gap: 24px;
    }
}

.address-list .item {
    font-style: normal; 
    line-height: 1,5px;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1158px) {
    .address-list .item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.address-list .item:hover,
.address-list .item:focus {
    color: var(--accent-color);
}
@media only screen and (max-width: 767px) {
    .nav-list {
        display: none;
    }
    .address-list {
        display: none;
    }
}
/* MAIN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* Section hero 1 */
.hero {
    margin: 0 auto;
    max-width: 1440px;
    text-align: center;
    padding: 112px 0;
    background-color: var(--title-text-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-mobile@2x.jpg);
    }
}
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-tablet.jpg); 
    }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px),
(min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-tablet@2x.jpg);
    }
}
@media screen and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-desktop.jpg), url(../images/hero/people-office-desktop@2x.jpg);
    }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1158px),
(min-resolution: 192dpi) and (min-width: 1158px),
(min-resolution: 2dppx) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-desktop@2x.jpg);
    }
}
@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0;
    }
}
@media screen and (min-width: 1158px) {
    .section.hero {
        padding: 188px 0;
    }
}
.hero-title {
    margin: 0 auto;
    margin-bottom: 72px ;
    font-size: 36px; 
    line-height: calc(40/36);
    color: var(--primary-bg-color);
    letter-spacing: 0.02em;
}
@media screen and (min-width: 428px) {
    .hero-title {
        width: 320px;
        margin: 0 auto;
        color: var(--primary-bg-color);
        margin-bottom: 48px;
        font-size: 36px;
        line-height: 1.07;
    }
}
@media screen and (min-width: 768px) {
    .hero-title {
        width: 496px;
        margin: 0 auto;
        color: var(--primary-bg-color);
        margin-bottom: 48px;
        font-size: 56px;
        line-height: 1.07;
    }
}
.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    border-color: transparent;
    transition-duration: 250ms;
    transition-timing-function: var(--time-distibution);
}
.hero-button { 
    /* display: inline-block; */
    /* margin-top: 48px;
    margin: 0 auto; */
    text-align: center;
    font-weight: 500;   
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    background-color: var(--primary-brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    transition-property: var(--primary-brand-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background: var(--accent-color);
}
.button:hover,
.button:focus {
    color: var(--primary-bg-color);
    background: var(--accent-color);
}
/* Section features 2 */
.section-features {
    padding-top: 96px;
    padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
    .section-features {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
@media screen and (min-width: 768px) {
    .features-list{
        display: flex;
        flex-wrap: wrap;
        row-gap: 78px;
        column-gap: 24px;
        gap: 24px;
    }
}
@media screen and (min-width: 1158px) {
    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
        width: 1128px;
    }
}
.features-list .item:not(:last-child) {
    max-width: 396px;
    margin: 0 auto;
    margin-bottom: 72px;
}

@media screen and (min-width: 468px) {
    .features-list .item {
        margin-bottom: 72px;
        width: 396px;
        list-style-type: none;
        justify-content: space-between;
    }
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
@media screen and (min-width: 768px) {
    .features-list .item {
        width: calc((100% - 24px) / 2);
        text-align: left;
        list-style-type: none;
    }
}
@media screen and (min-width: 1158px) {
    .features-list .item {
        width: calc((100% - 72px) / 4);
        width: 264px;
        list-style-type: none;
    }
}
.work-features {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: var(--title-text-color);
}
@media screen and (min-width: 768px) {
    .work-features {
        width: calc((100% - 24px) / 2);
        list-style-type: none;
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .work-features {
        text-align: start;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-transform: capitalize;
        color: var(--title-text-color);
        margin-bottom: 8px;
    }
}
.work-description {
    font-weight: 500;
    font-size: 16px;
    color: var(--main-text-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media screen and (min-width: 1158px) {
    .work-description {
        font-weight: 400;
        max-height: 72px;
    }
}
.features-img-bg {
    display: none;
    background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 1158px) {
    .features-img-bg {
        display: flex;
        background-color: var(--secondary-bg-color);
        border-radius: 4px;
        padding: 24px 100px;
        margin-bottom: 8px;
    }
}
/* Section3 */
@media screen and (max-width: 1158px) {
    .section.examples {
        display: none;
    }
}
.section.examples {
    text-align: center;
    padding-top: 0;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--title-text-color);
}
.section.examples .container {
    display: flex;
    flex-direction: column;
    flex-basis: 412px;
}

.examples-list {
    display: flex;
    gap:  24px;
}
.examples-list .item {
    display: flex;
    flex-basis: 360px;
}
/* Section 4 */
.team {
    background: #F4F4FD;
}
.examples-title,
.team-title,
.customers-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--title-text-color);
    margin-bottom: 72px;
}
.team-section {
    background: var(--secondary-bg-color);
    padding: 120px 0;
    text-align: center;
}
.team-list {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px 24px;
    }
}
@media screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        gap: 24px;
    }
}
.team-item {
    width: 264px;
    margin: 0 auto;
    margin-bottom: 72px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: var(--primary-bg-color);
}
.team-item:last-child {
    margin-bottom: 0;
}
@media screen and (min-width: 768px) {
    .team-item {
        margin-bottom: 0;
        margin: 0;
    }
}

/* .team-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: var(--title-font-size);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
} */
.team-content {
    padding: 32px 16px;
    text-align: center;
}
/* .team-list {
    display: flex;
    gap: 24px;
} */
/* .team-item{
    flex-basis: calc((100% - 24px * 3) / 4);
    background: var(--primary-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    transition-property: var(--primary-bg-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .team-item:first-child {
    margin-left: 0px;
}
.name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
    letter-spacing: 0.02em;
} */
.job-title {
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* margin-bottom: 8px; */
}
.social {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-top: 8px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;
    transition: var(--primary-brand-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}
.svg-team {
    color: var(--secondary-bg-color);
}
/* Section Customers */
.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--light-slate-color);
    gap: 72px 16px;
}
@media only screen and (max-width: 468px) {
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px 16px
    }
}
@media only screen and (min-width: 768px) {
    .customers-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 72px;
    }
}
@media screen and (min-width: 1158px) {
    .customers-list {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 24px;
        margin-top: 72px;
    }
}
.customers-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: var(--title-font-size);
    line-height: calc(40/36);
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
@media screen and (max-width: 768px) {
    .company-logo {
        height: 88px;
    }
}
.logo-link-company {
    display: flex;
    width: 190px;
    height: 88px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--light-slate-color);
    border-radius: 4px;
    padding: 16px 32px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
@media screen and (min-width: 468px) {
    .logo-link-company {
        width: 190px;
        height: 88px;

    }
}
@media screen and (min-width: 768px) {
    .logo-link-company {
        width: 168px;
        height: 88px;
    }
}
.svg-logo-company {
    fill: var(--light-slate-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.logo-link-company:hover  .svg-logo-company,
.logo-link-company:focus  .svg-logo-company {
    fill: var(--accent-color);
}
.logo-link-company:hover,
.logo-link-company:focus {
    /* border-color: var(--accent-color); */
    border: 1px solid var(--accent-color);
    outline: transparent;
}
/* PORTFOLIO */
.filters-button {
    font-family: inherit;
    font-weight: 500;
    font-size: var(--body-font-size);
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;
    border: 1px solid var(--secondary-accent-color);
    border-radius: 4px;
    padding: 12px 24px;
    transition: var(--secondary-bg-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.filters-list {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}
.img-portfolio {
    display: block;
    max-width: 100%;
 }
.works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.works-link {
    display: block;
    text-decoration: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}
.works-link:hover,
.works-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 }
.works-link:hover .overlay-text,
.works-link:focus .overlay-text {
     transform: translateY(0);
 }
.overlay {
    position: relative;
    overflow: hidden;
}
.overlay-text {
    position: absolute;  
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    top: 0;
    left: 0;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    transform: translateY(100%);  
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--primary-brand-color);
    color: var(--secondary-bg-color);
}
.services-content {
    border: 1px solid var(--secondary-accent-color);
    padding: 32px 16px;
    border-top: none;
}
.services {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.industry {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.services,
.industry {
  margin: 8px;
}
/* FOOTER */
.footer {
    background-color: var(--title-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (min-width: 1200px) {
    .footer {
        display: flex;
        align-items: flex-start;
    }
}
.page-footer {
    background-color: var(--title-text-color); 
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}
@media screen and (max-width: 468px) {
    .social-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}
@media screen and (min-width: 768px) {
    .social-footer {
        display: flex;
        gap: 24px
    }
}
@media screen and (min-width: 1158px) {
    .social-footer {
        display: flex;
        gap: 120px
    }
}
.logo-footer {
    color: var(--secondary-bg-color);
    letter-spacing: 0.03em;
} 
@media screen and (max-width: 767px) {
    .footer-contain { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media screen and (max-width: 767px) {
    .subscribe-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .subscribe-block {
        text-align: center;
        display: flex;         
    }
}  
@media screen and (min-width: 1158px) {
    .subscribe-block {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
}
.social-description{
    display: flex;
    color: var(--primary-bg-color);
    font-size: 16px;
    margin-bottom: 16px;
    justify-content: center;
    font-weight: 500;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
    .social-description {
        justify-content: left;
    }
}
@media screen and (min-width: 1158px) {
    .social-description {
     justify-content: left;
    }
}
.footer-subtitle {
    display: flex;
    color: var(--primary-bg-color);
    justify-content: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500px;
}
@media screen and (min-width: 768px) {
    .footer-subtitle {
        display: block;
        margin-bottom: 16px;
    }
}
@media screen and (min-width: 1198px) {
    .footer-subtitle {
        display: block;
        margin-bottom: 16px;
    }
}
.footer-input {
    /* width: 398px; */
    height: 40px;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    outline: transparent;
    padding: 8px 16px 8px 16px;
    background-color: transparent;
    color: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
    transition-duration: var(--primary-bg-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 428px) {
    .footer-input {
        width: 398px;
    }
}
@media screen and (min-width: 768px) {
    .footer-input {
        width: 264px;
    }
}
.footer-input::placeholder {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: calc(24/12);
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
}
.footer-button {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 8px 24px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--primary-brand-color);
    border-color: transparent;
    color: var(--primary-bg-color);
    cursor: pointer;
    transition: var(--primary-brand-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
    background-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
    .footer-button {
        margin-left: 24px;
    }
}
.footer-button-icon {
    fill: var(--primary-white-color);
    margin-left: 16px;
}
.footer-button-icon {
    width: 24px;
    height: 24px;
}
.footer-description {
    margin: auto;
    width: 264px;
    line-height: calc(24/16);
    letter-spacing: 0.02em;
    color: var(--secondary-bg-color);
    margin-bottom: 72px;
}
@media screen and (min-width: 768px) {
.footer-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
 }
}
@media screen and (min-width: 768px) {
    .social-media-contain {
       display: inline-block;
    }
}
@media screen and (min-width: 1158px) {
    .social-media-contain {
       margin-right: 80px;
    }
}
.footer-input:hover,
.footer-input:focus {
    color: var(--primary-bg-color);
    border-color: var(--primary-brand-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (max-width: 468px) {
    .footer-subtitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        text-align: center;
    }
}
@media screen and (max-width: 468px) {
    .footer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        margin-top: 72px;
        text-align: center;
    }
}
@media screen and (min-width: 1198px) {
    .footer-form {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) {
    .footer-container {
        gap: 24px;
        padding-left: 92px;
    }
}
@media screen and (min-width: 1158px) {
    .footer-container {
        display: flex;
        padding: 0px;
        gap: 0px;
    }
}
@media screen and (min-width: 768px) {
    .footer-contain {
        display: inline-block;
        margin-right: 24px;
    }
}
@media screen and (min-width: 1158px) {
    .footer-contain {
        margin-right: 120px;
    }
}
.social-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    margin-top: 16px;
}
.social-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    transition: var(--main-text-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-footer {
    fill: var(--secondary-bg-color);
}
.media-link:hover,
.media-link:focus {
    background-color: var(--bg-link-footer-color);
}
.social-link-footer:hover,
.social-link-footer:focus {
    background-color: var(--bg-link-footer-color);
}
.container-row {
    display: flex;
}
/* Modal Backdrop*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--backdrop-bg-color);
    transition: opacity 250ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
/* Modal + modal button */
.modal {
    position: absolute;
    max-width: 392px;
    width: 100%;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: var(--modal-bg-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 72px;
    padding-bottom: 24px;
    transition: transform 250ms linear;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.6);
}
.modal-title {
    display: block;
    text-align: center;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}
.modal-btn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 0px;
    cursor: pointer;
    background-color: var(--secondary-accent-color);
    fill: var(--title-text-color);
    border-color: transparent;
    border-radius: 50%;
    transition: var(--secondary-accent-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
    fill: var(--primary-bg-color);
}
.modal-btn:hover .btn-icon,
.modal-btn:focus .btn-icon {
    fill: var(--primary-bg-color);  
}
.modal-title {
    font-weight: 500;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}
.modal-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.modal-group.com {
    margin-bottom: 0px;
}
@media screen and (max-width: 430px) {
    /* .modal {
        max-width: 250px;
    } */
    .modal-label {
        width: 202px;
    }
}
textarea {
    resize: none;
}
.input-wrapper {
    position: relative;
}
.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comments {
    height: 120px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.2);
    border-radius: 4px;
    outline: transparent;
    margin-bottom: 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comments::placeholder {
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    color: rgba(117, 117, 117, 0.5);
}
.modal-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
    fill: var(--accent-color);
}
.modal-input:hover,
.modal-input:focus {
    border-color: var(--accent-color);
}
.modal-comment:hover,
.modal-comment:focus {
    border-color: var(--accent-color);
}
.modal-checkbox {
    display: flex;
    align-items: center;
}
.modal-checkbox-label {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    color: #757575;
}
.privacy-text {
    align-items: center;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    color: #757575;
    margin-left: 8px;
}
.privacy {
    align-items: center;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    color: var(--link-color);
}
.modal-checkbox-icon {
    fill: currentColor;
}
.modal-checkbox-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    color: transparent;
}
.modal-checkbox-input:checked+.modal-checkbox-label>.modal-checkbox-custom {
    color: var(--alternative-color);
    background-color: var(--link-color);
}
.modal-send {
    display: flex;
    /* display: block; */
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    width: 170px;
    height: 51px;
    border-radius: 4px;
    border-color: transparent;
    color: var(--primary-bg-color);
    background-color: var(--primary-brand-color);
    transition-property: var(--primary-brand-color), 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send:hover,
.modal-send:focus {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    background-color: var(--accent-color);
}
.modal-icon {
    fill: var(--title-text-color);
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon.close {
    left: 6px;
}
.modal-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    gap: 4px;
}
.modal-input {
    border: 1px solid var(--modal-input-color);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 35px;
    outline: transparent;
    transition: fill var(--modal-input-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover+.modal-icon,
.modal-input:focus+.modal-icon {
    fill: var(--primary-brand-color);
}
.modal-input:hover,
.modal-input:focus {
    border-color: var(--primary-brand-color);
} 
.input-wrapper {
    position: relative;
}
.modal-comments {
    padding-left: 16px;
    padding-top: 8px;
    resize: none;
    font-size: 12px;
    line-height: calc(14/12);
    border-radius: 4px;
    color: var(--modal-input-color);
    border: 1px solid var(--modal-input-color);
    outline: transparent;
    transition:  var(--modal-input-color) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comments::placeholder {
    color: var(--placeholder-color);
    font-size: 12px;
    line-height: calc(14/12);
}
.modal-comments:hover,
.modal-comments:focus {
    outline: transparent;
    border-color: var(--primary-brand-color);
}
.modal-checkbox-icon {
    fill: currentColor;
    margin: auto;
    width: 10px;
    height: 8px;
}
.modal-checkbox-custom {
    display: flex;
    
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    outline: 1.25px solid var(--light-slate-color);
    margin-right: 0;
    border-radius: 2px;
    color: transparent;
    transition-property: var(--primary-bg-color), var(--light-slate-color), color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 24px;
}
.modal-checkbox-input:checked+.modal-checkbox-label>.modal-checkbox-custom {
    color: var(--secondary-bg-color);
    background-color: var(--primary-brand-color);
    outline-color: var(--primary-brand-color);
}
.modal-form .modal-label {
    display: inline-block;
    color: var(--light-slate-color);    
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.04em;
}
.modal-checkbox {
    display: flex;
}
.modal-checkbox-label>.privacy-text {
    font-size: 12px;
    padding-left: 8px;
    line-height: calc(14/12);
    letter-spacing: 0.04em;
    color: var(--light-slate-color);
}
.privacy {
    font-size: 12px;
    line-height: calc(14/12);
    padding-left: 3px;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .mobile-btn {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        background-color: var(--primary-bg-color);
        padding: 80px 40px 40px 40px;
        display: flex;
        flex-direction: column;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .mobile-menu-item-flex,
    .mobile-menu-adress-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }
    .mobile-menu-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-text-color);
    }
    .mobile-menu-adress-flex {
        margin-top: auto;
        margin-bottom: 48px;
    }
    .mobile-menu-contact-phone {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        text-transform: capitalize;
        color: var(--primary-brand-color);
        margin-bottom: 40px;
    }
    .mobile-menu-contact-email {
        font-weight: 500;
        font-size: 20px;
        line-height: calc(24/20);
        letter-spacing: 0.02em;
        color: var(--main-text-color);
    }
    .mobile-menu-social-list {
        justify-content: space-between;
    }
    .media-bottom {
        margin-bottom: auto;
    }
    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: inherit;
    }
    .active {
        color: var(--accent-color);
    }
    .mobile-ico {
        fill: var(--title-text-color);
    }
}
.mobile-btn {
    background-color: transparent;
    border: none;
    line-height: 0;
    order: 2;
    margin-left: auto;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
.media-icon-mn {
    fill: var(--alternative-color);
    width: 24px;
    height: 24px;
}
.media-link-mn:hover,
.media-link-mn:focus {
    background-color: var(--green-color);
}
.media-link-mn {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-brand-color);
    transition-duration: 250ms;
    transition-timing-function: var(--time-distibution);
}
.menu-list {
    gap: 56px;
}
@media screen and (max-width: 426px) {
    .menu-list {
        gap: 24px;
    }
    .mobile-menu-contact-phone {
        font-size: 24px;
    }
}
.media-list {
    flex-direction: row;
    margin-top: 16px;
    gap: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 16px;   
}
